.section {
  padding: 6rem 0 2rem;
}

.section__title {
  font-size: var(--h1-fs);
  color: var(--title-color);
}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: 4rem;
}

.section__title,
.section__subtitle {
  text-align: center;
}

.container {
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.button {
  display: inline-block;
  background-color: var(--title-color);
  color: var(--container-color);
  padding: 1.25rem 2rem;
  border-radius: 1rem;
  font-weight: var(--font-medium);

  &:hover {
    background-color: var(--title-color-dark);
  }
}

.button__icon {
  margin-left: 0.5rem;
}

.button--flex {
  display: inline-flex;
  align-items: center;
}

// LAPTOP
@media screen and (max-width: 992px) {
}

/* For medium devices */
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 576px) {
}
/* For small devices */
@media screen and (max-width: 350px) {
}
